<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create New Activity</title>
</head>
<style>
    .center-screen
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: 25vh;
    }
</style>

<body>

<div class="center-screen">
    <h1>Ny aktivitet</h1>

    <form id="createForm" enctype="application/json" method="post"  action="/newActivity" onsubmit="submitForm()">
        <input id="title" type="text" placeholder="Titel" required/>
        <br>
        <input id="price" type="number" placeholder="Pris" step=".01" required/>
        <br>
        <input id="minHeight" type="number" max="250" placeholder="Højdekrav" required/>
        <br>
        <input id="minAge" type="number" max="110" placeholder="Alderskrav" required/>
        <br>
        <input id="equipment" type="text" placeholder="Udstyr" required/>
        <br>
        <input id="description" type="text" placeholder="Beskrivelse" required/>
        <br>
        <input id="imageLink" type="text" placeholder="Link" required/>
        <br>
        <input id="save" type="submit" value="Gem"/>

    </form>
</div>

<script type="text/javascript" th:src="@{/js/create_activity.js}"></script>

</body>
</html>