<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create New Activity</title>
</head>
<style>
    .center-screen
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: 25vh;
    }
</style>

<body>
<div class="center-screen">
    <div class="container">
        <h1>Ny aktivitet</h1>

        <div class="row">
            <div class="col">
                <input id="title" type="text" placeholder="Titel"/>
                <br>
                <input id="price" type="number" placeholder="Pris"/>
                <br>
                <input id="minHeight" type="number" max="250" placeholder="Højdekrav"/>
                <br>
                <input id="minAge" type="number" max="110" placeholder="Alderskrav"/>
                <br>
                <input id="equipment" type="text" placeholder="Udstyr"/>
            </div>

            <div class="col">
                <input id="description" type="text" placeholder="Beskrivelse"/>
            </div>
        </div>

            <input id="save" type="button" value="Gem"/>
            <input id="addImage" type="image" value="Upload billede"/>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/createactivity.js}"></script>

</body>
</html>