<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{bookings.js}" defer></script>
</head>
<body>

<h1>Bookings</h1>
<br>

<a th:href="@{/logout}">Logout</a>

<br>

<select id="dropdownAllActivities"></select>

<br><br><br>

<select id="timeslot"></select>

<br><br><br>

<input type="date" id="calendar" >

<br><br><br><br><br><br><br><br><br>
<button id="createBooking">Create booking for selected Actitivy</button>

</body>
</html>