<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/daypilot/daypilot-all.min.js}" type="text/javascript"></script>
</head>
<body>
<div id="dp"></div>
<script>
    const userEmail = window.location.pathname.substring(27)

    populateDataFromBookingList();

    async function getUserBookings()
    {
        const url = `http://localhost:8080/getBookingsForUser/${userEmail}`
        return await fetch(url).then(x => x.json());
    }

    async function populateDataFromBookingList(bookingList)
    {
        let list = await getUserBookings();

        const timeslotValues = ["08:00-10:00","10:00-12:00","12:00-14:00","14:00-16:00"]
        let events = [];

        list.forEach(x =>
        {
            let splitList = x.split(",");

            let booking =
                {
                    "start":new Date(Date.parse(splitList[2])),
                    "end":new Date(Date.parse(splitList[2])),
                    "text": splitList[0] + timeslotValues[splitList[1]-1]
                };

            events.push(booking)
        })

        let dp = new DayPilot.Month("dp");
        dp.events.list = events;
        dp.init();
    }
</script>
</body>
</html>