<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/daypilot/daypilot-all.min.js}" type="text/javascript"></script>
</head>
<body>
<div id="dp"></div>
<script>

    const email = "rbp@groupcare.com";

    async function getUserData(userEmail)
    {
        const url = `http://localhost:8080/getUserByEmail/${userEmail}`
        return await fetch(url).then(x => x.json());
    }

    let user = getUserData(email).then(x => {
        user = x;
        console.log(x)
    });

    let bookingList =
        [
            {
                "bookingDate":Date.now() - 500_000_000,
                "activityTitle":"Paintball",
                "timeslot":0
            },
            {
                "bookingDate":Date.now() - 300_000_000,
                "activityTitle":"Øksekast",
                "timeslot":1
            },
            {
                "bookingDate":Date.now() - 100_000_000,
                "activityTitle":"Gokart",
                "timeslot":2
            },
            {
                "bookingDate":Date.now() + 100_000_000,
                "activityTitle":"Paintball",
                "timeslot":3
            },
        ]

    function populateDataFromBookingList(bookingList)
    {
        const timeslotValues = ["08:00-10:00","10:00-12:00","12:00-14:00","14:00-16:00"]
        let events = [];

        bookingList.forEach(x => {
            let booking =
                {
                    "start":x.bookingDate,
                    "end":x.bookingDate,
                    "id":"unused",
                    "text": x.activityTitle + " - " + timeslotValues[x.timeslot]
                };

            events.push(booking)
        })

        return events;
    }

    let dp = new DayPilot.Month("dp");
    dp.events.list = populateDataFromBookingList(bookingList);
    dp.init();

</script>
</body>
</html>