<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/bookings.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/my_bookings.js}" defer></script>
</head>
<body>

<h1 id="booking1">Dine bookings </h1>

<div id="dropdownMyBooking"></div>



<br><br><br>


<h1>Opret ny booking</h1>

<span>Aktivitet: </span><select id="dropdownAllActivities"></select>

<br><br><br>

<span>Tidsrum: </span><select id="timeslot"></select>

<br><br><br>

<span>Dato: </span><input type="date" id="calendar" >

<br><br><br>

<button id="createBooking">Godkend Booking</button>

</body>
</html>