<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

<!--#region Header Fragment  -->
<div th:fragment="header" class="container-fluid bg-dark border-bottom border-3 border-danger">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <a class="text-decoration-none link-danger" th:href="@{/}">
                <h1 class="text-center mt-3">Adventure Alley</h1>
            </a>
        </div>
        <div class="col">
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">
                    <button class="btn btn-primary float-end mt-4" type="button">Login</button>
                </a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">
                    <button class="btn btn-primary float-end mt-4" type="button">Logud</button>
                </a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/createuser}">
                    <button class="btn btn-primary float-end mt-4" type="button">Opret bruger</button>
                </a>
            </div>
            <div sec:authorize="hasRole('USER')">
                <a th:href="@{/loggedin/booking_calendar}">
                    <button class="btn btn-primary float-end mt-4">Kalender</button>
                </a>
                <a th:href="@{/loggedin}">
                    <button class="btn btn-primary float-end mt-4">Bookings</button>
                </a>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                <a href="">
                    <button class="btn btn-primary float-end mt-4" type="button">Vagtplan</button>
                </a>
                <a th:href="@{/adminCRUD}">
                    <button class="btn btn-primary float-end mt-4" type="button">Admin</button>
                </a>
                <a th:href="@{/admin/overview}">
                    <button class="btn btn-primary float-end mt-4" type="button">Booking oversigt</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!--#endregion -->

</body>
</html>